body {
    margin: 0;
    padding: 0;
}

.matrix-bg {
    background-color: #000;
    color: #0f0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
}
